@model DrinkDotCom.ViewModels.PageViewModel

<section class="blog-banner-area">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h2>@Model.PageTitle</h2>
                <p>
                    @Model.PageDescription
                </p>
            </div>
        </div>
    </div>
</section>
