@using DrinkDotCom.ViewModels



<section class="login_box_area section-margin--small">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p>@ConfigurationsHelper.ApplicationIntro</p>
                        <a class="button button-account" href="@Url.Register()">Create an Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Login to account</h3>
                    @Html.Partial("_Login")

                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </div>
            </div>
        </div>
    </div>
</section>
