@model DrinkDotCom.ViewModels.RegisterViewModel
<section class="login_box_area section-margin--small">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <div class="hover">
                        <h4>Already have an account?</h4>
                        <p>@ConfigurationsHelper.ApplicationIntro</p>
                        <a class="button button-account" href="@Url.Login()">Login to Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Register new account</h3>
                    @Html.Partial("_Register")                   
                </div>
            </div>
        </div>
    </div>
</section>